@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri&display=swap');

body {
    font-family: 'Hind Siliguri', sans-serif;
    padding-left: 80px;
    background-color: rgba(187, 187, 187, 0.8);
    padding-bottom: 30px;
    margin: 70px;
}

html { 
    background: url(https://wallpaperaccess.com/full/3658607.jpg) no-repeat center center fixed; 
    background-size: cover;
  }

#random-film {
    width: 300px;
    margin-bottom: 80px;
    border: 2px border red;
    margin-left: 10px;
}

#container-add-film {
    width: 600px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
    padding: 10px;
    font-size: large;
    border: 2px solid blueviolet;
}

#sub-btn { /* add film button */
    width: 100px;
    margin: 10px;
    background-color: rgb(183, 206, 248);
}

#sub-btn-1 { /* generate random film button */
    width: 200px;
    height: 50px;
    margin-bottom: 30px;
    background-color: gold;
}

h1 h2 {
    letter-spacing: 4px;
}

div {
    font-size: 30px;
    text-transform: uppercase;
}